html {
    font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
    background-image: url(extras/fondotransporte.webp)
=======
    background-color: #FFFFFF;
    background-image: url(extras/fondotransporte.webp);
>>>>>>> 07894ad (html y css de ABM clientes)
}

h1 {
    color: #ffffff;
    border-radius: 5px;
    font-size: 75px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #492669;
}
h3{
    color: #FFFFFF;
    background-color: #492669;
    text-decoration: wavy;
    padding: 10px 10px;
    border-radius: 10px;
}
.formulario_compra {
    display: grid;
    place-items: center;
    margin: auto;
    border: solid #492669 3px;
    border-radius: 5px;
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 0px #492669; 
    border-radius: 10px;
    transform: rotateX(10deg);
    text-align: center;
    background-color: #FFFFFF;
}

input {
    margin-bottom: 10px;
    
}
input:hover{
    border: solid #492669 2.5px;
}

label {
    margin-bottom: 5px;
    color: #492669;
    font-weight: 700;
}

.encabezado {
    display: grid;
    place-items: center;
    color: #492669;
}

.volver {
    color: #492669;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
}

.volver:hover {
    border: solid #492669 2.5px;
    border-radius: 3px;
    padding: 3px 3px;
    transition: .3s ease;
}

.boton_cargar{
    width: 6em;
    height: 2em;
    border-radius: 20em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #492669 -6px -6px 12px #492669;
}


.boton_cargar:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    display: block;
    background-color: #492669;
    background-image: linear-gradient(to right, #ffffff 0%,#492669 50%, #492669 100%) ;
    transition: .7s ease;
    z-index: -1;
}
button:hover::before{
    width: 9em;
 }
