html {
    font-family: 'Roboto', sans-serif;
    background-image: url(extras/fondotransporte.webp);
}

h1 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #492669;
}

.encabezado {
    display: grid;
    place-items: center;
    margin: auto;
    font-size: 30px;
    color: #ffffff;
}
.mostrar_productos {
	background-color:#492669;
	border-radius:5px;
    border-color: #ffffff;
    display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:700;
	padding:5px 5px;
}
.mostrar_productos:hover {
	background-color:#FFFFFF;
    border: solid 2.5px;
    border-color: #492669;
    color: #140f14;
}

th {
    border: solid 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #492669;
}

.tabla_productos {
    border-radius: 10px;
    max-width: 750px;
    color: #ffffff;
    display: grid;
    place-items: center;    
    margin: 10px auto;
}

.actualizar_stock {
    color: #ffffff;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
}

.actualizar_stock:hover {
    border: solid #ffffff 2.5px;
    border-radius: 3px;
    padding: 3px 3px;
    transition: .2s ease;
}

.volver {
    color: #492669;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
}

.volver:hover {
    border: solid #492669 2.5px;
    border-radius: 3px;
    padding: 3px 3px;
    transition: .2s ease;
}

